.bgimg {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwy9jn0n5--QIO8d2ASPKwkby4D0zdCHAeiA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
